@use 'variables' as v;
@use "sass:color";

%hover-black {
    transition: color .2s ease-in-out;

    &:hover {
        cursor: pointer;
        color: v.$color-black;
    }
}

%hover-light {
    transition: color .2s ease-in-out;

    &:hover {
        cursor: pointer;
        color: v.$color-white;
    }
}

%hover-black-icon {
    transition: fill .3s ease-in-out;

    &:hover {
        cursor: pointer;
        fill: v.$color-black;
    }
}

%hover-alpha-btn {
    transition: all .3s ease-in-out;

    &:hover {
        background-color: color.adjust(v.$color-black, $alpha: -0.35);
    }
}